apiVersion: v1
kind: Secret
metadata:
  name: fabflix-secrets
type: Opaque
stringData:
  tmdb-api-key: "YOUR_TMDB_API_KEY"
  recaptcha-secret: "YOUR_RECAPTCHA_SECRET"
  db-password: "password"
  redis-password: "" # Optional
